<!-- <table>
  <tr>
    <th>Venue</th>
    <th>Name</th>
    <th>Is available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chatrooms.each do |chatroom| %>
  <tr>
    <td><%= chatroom.venue_id %></td>
    <td><%= chatroom.name %></td>
    <td><%= chatroom.is_available %></td>
    <td><%= link_to 'Show', chatroom %></td>
    <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
    <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table> -->
<div class="page venues-page container">
  <h1>Chatrooms Near You</h1>
  <% if @venues %>
    <ul class="venues">
      <% @venues.each do |v| %>
        <li class="venue" data-ll="<%= v.json["location"]["lat"] %>,<%= v.json["location"]["lng"] %>" data-lat="<%= v.json["location"]["lat"] %>" data-long="<%= v.json["location"]["lng"] %>"> 
          <%= link_to( @chatrooms.select{|c| c.venue_id == v.json["id"]}.present? ? chatroom_path(@chatrooms.select{|c| c.venue_id == v.json["id"]}[0].id) : join_chatroom_path(v.json["id"]) ) do %>
            <div class="venue-map" style="background-image:url(http://maps.googleapis.com/maps/api/staticmap?center=<%= v.json["location"]["lat"] %>,<%= v.json["location"]["lng"] %>&zoom=16&size=200x200&markers=color:red|<%= v.json["location"]["lat"] %>,<%= v.json["location"]["lng"] %>|&sensor=false&key=AIzaSyAQSE-ZLv23qrAuKzlFohr23xUQaqgC4-I);">
              <div class="venue-title"> <%= v.name %> </div>
            </div>
          <% end -%> 
        </li>
      <% end -%>
    </ul>
  <% end -%>
</div>

<!-- 
<%= link_to 'New Chatroom', new_chatroom_path %>
 -->