<!DOCTYPE html>
<html>
<head>
  <title>Worldchat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body data-url="<%= request.protocol %><%= request.host_with_port %>/">

<%= yield %>


<%= javascript_include_tag "application" %>
<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
</body>
</html>
